body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 400px;
  width: 90%;
  padding: 7.5em 5em;
  background-color: #0b091e;
  border-radius: 0px 8px 8px 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  height: max-content;
  
}
h2 {
  text-align: center;
  margin-bottom: 1.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
form {
  margin-bottom: 2em;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: 2px solid #12b1d2;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  background-color: #252340;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.293 7.707a1 1 0 0 1 1.414 0l3 3a1 1 0 1 1-1.414 1.414L10 10.414l-2.293 2.293a1 1 0 1 1-1.414-1.414l3-3z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1em top 50%;
}
button {
  width: 100%;
  background-color: #12b1d2;
  color: #e0f4f9;
  border: none;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #12b1d2;
}
.social-icons {
  display: flex;
  justify-content: space-around;
}
.social-icons a {
  color: #12b1d2;
  font-size: 24px;
  width: 1em;
  height: 1em;
  text-align: center;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.social-icons a:hover {
  background-color: #12b1d2;
  color: #fff;
}
input[type="date"],
select {
  width: 150%;
  padding: 1em;
  margin-bottom: 1em;
  border: 2px solid #12b1d2;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  background-color: #252340;
}
select {
  margin-left: 89%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
h5 {
  text-align: center;
}
#video_background {
  height: 100%;
  position: absolute;
  z-index: -9999;
  top: 0;
  right: 0;
}
._grey_ {
  color: grey;
}
.BandD{
  margin: 0 0 0.5em 0;
}
button[type="submit"] {
  margin-top: 1.5em;
}
