@import url(variable.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: var(--font-size-medium);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  margin: var(--spacing-medium) 0 var(--spacing-small);
}

h1 {
  font-size: var(--font-size-xxlarge);
}

h2 {
  font-size: var(--font-size-xlarge);
}

h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-large);
}

h5 {
  font-size: var(--font-size-medium);
}

h6 {
  font-size: var(--font-size-small);
}

p {
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-medium);
}

button {
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* input {
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    width: 100%;
    margin: var(--spacing-small) 0;
} */

input:focus {
  outline: none;
}

/* Path: global_style.css */
