@import url(variable.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: var(--font-size-medium);
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #006eff;
}

::-webkit-scrollbar-thumb:active {
  background: #005acd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-xxlarge);
}

h2 {
  font-size: var(--font-size-xlarge);
}

h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-large);
}

h5 {
  font-size: var(--font-size-medium);
}

h6 {
  font-size: var(--font-size-small);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-medium);
}

button {
  padding: var(--spacing-small) var(--spacing-medium);
  cursor: pointer;
  transition: color 0.3s ease;
  outline: 0;
  border: 0;
}

/* input {
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    width: 100%;
    margin: var(--spacing-small) 0;
} */

input:focus {
  outline: none;
}

/* Path: global_style.css */
body {
  font-family: "Open Sans", sans-serif;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #110042, #140014);
  background: -o-linear-gradient(45deg, #000000, #16002d);
  background: -moz-linear-gradient(45deg, #000000, #0b0034);
  background: linear-gradient(45deg, #2a0032, #000d2c);
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}
nav {
  flex-direction: row;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #000000, #140014);
  background: -o-linear-gradient(45deg, #000000, #16002d);
  background: -moz-linear-gradient(45deg, #000000, #0b0034);
  background: linear-gradient(45deg, #000000, #000d2c);
  width: 100vw;
  opacity: 0; /* Bắt đầu với độ mờ là 0 */
  animation: moveDown 2s forwards, fadeIn 2s forwards;
  z-index: 7000;
}

@keyframes moveDown {
  from {
    transform: translateY(-50px); /* Di chuyển từ trên xuống */
  }
  to {
    transform: translateY(0); /* Di chuyển đến vị trí ban đầu */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Bắt đầu với độ mờ là 0 */
  }
  to {
    opacity: 1; /* Kết thúc với độ mờ là 1 */
  }
}

button:focus {
  outline: none;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

.navbar {
  padding: 0;
  animation: nav-load var(--nav-load-time) ease-in;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }
}
#MenuBtn {
  background: none;
  position: fixed;
  left: 0;
  color: white;
}
#MenuBtn:active,
#MenuBtn:focus {
  border: none;
  outline: none;
}
#MenuBtn:hover {
  color:#47b2e4;
}
.navbar-hidden {
  top: -100px;
}

#user {
  display: flex;
  margin-left: 120%;
  text-align: right;
}
#user-info-container {
  border: 1px solid #47b2e4;
  border-radius: 99px;
  display: flex;
  transition: background-color 2s ease;
  overflow: hidden;
  z-index: 9000;
}
#logout-btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 99px;
  margin-left: 0;
  border: none;
  overflow: hidden;
  position: relative;
  right: 0;
  border-left: 1px #47b2e4 solid;
}
#logout-btn:hover {
  background-color: #47b2e4;
  color: white;
}
#user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  border-right: 1px solid #47b2e4;
  padding: 1%;
  background-image: linear-gradient(
    45deg,
    rgb(255, 255, 255, 0.5),
    white,
    rgb(255, 255, 255, 0.5),
    white
  );
  transition: background-image 0.5s ease;
  cursor: pointer;
}
#user-avatar:hover {
  background-image: linear-gradient(
    45deg,
    rgb(71, 178, 228),
    rgb(71, 178, 228, 0.5),
    rgb(71, 178, 228),
    rgb(71, 178, 228, 0.5)
  );
}

.user-info {
  width: 10vw;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 2%;
  z-index: 9000;
}
#sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 20vw;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #000000, #140014);
  background: -o-linear-gradient(45deg, #000000, #16002d);
  background: -moz-linear-gradient(45deg, #000000, #0b0034);
  background: linear-gradient(45deg, #000000, #000d2c);
  display: none;
  flex-direction: column;
  padding: 1%;
  transition: transform 0.2s ease-in-out, display 0.2s ease-in-out;
  overflow: hidden;
  z-index: 6000;
  bottom: 0;
  font-size: 20px;
  font-weight: 100;
}

.Item {
  margin-top: 2vh;
}
.Item ul li {
  border-bottom: 1px #31a9e1 solid;
  border-radius: 8px;
  padding-left: 3%;
  margin-top: 1%;
  transition: background-image 1s;
  font-weight: 300;
  font-size: 20px;
  transition: all 1s ease-in-out;
}
.Item ul li:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.001),
    #31ae91
  );
  border-bottom: 2px #47b2e4 solid;
}
.Item a {
  color: #f9f9f9;
  transition: color 1s;
}

.Item ul {
  padding-left: 0;
}

.Item a:hover {
  color: white;
  transition: all 1s ease-in-out;
}
#alreadyHere {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.001),
    rgb(128, 240, 234)
  );
}

/* Auth */
#userForm,
#adminForm {
  width: 50vw;
  margin: 20px 25vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: fixed;
  display: none;
  font-size: 20px;
  box-shadow: 0 0 30px 600px rgb(0, 0, 0, 0.4);
  height: 500px;
  z-index: 9000;
}
#userForm div {
  margin-bottom: 10px;
  z-index: 9000;
}
#adminForm div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 120px;
}

#username,
#email,
#birth,
#adminname,
#adminemail,
#adminbirth,
#adminPhone,
#adminpassword,
#newAvatarUrl {
  width: calc(100% - 120px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#avatarPreview {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}
#cancelBtn,
#saveBtn,
#cancelBtn2,
#saveBtn2,
#adminsaveBtn,
#cancelBtn3 {
  padding: 6px 14px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
#cancelBtn3:hover {
  background-color: #0056b3;
}
#cancelBtn3:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#adminsaveBtn:hover {
  background-color: #0056b3;
}
#adminsaveBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#cancelBtn:hover {
  background-color: #0056b3;
}
#saveBtn:hover {
  background-color: #0056b3;
}
#cancelBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#saveBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#cancelBtn2:hover {
  background-color: #0056b3;
}
#saveBtn2:hover {
  background-color: #0056b3;
}
#cancelBtn2:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#saveBtn2:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#SettingModal,
#showModal {
  position: fixed;
  top: 10vh;
  max-height: 80vh;
  width: 100%;
  z-index: 1000;
}
