#hero {
  width: 100%;
  height: 80vh;
  background: #00bfff;
  background: -webkit-linear-gradient(45deg, #00dbde, #008e98);
  background: -o-linear-gradient(45deg, #00dbde, #1d7bae);
  background: -moz-linear-gradient(45deg, #00dbde, #0f4a91);
  background: linear-gradient(45deg, #00dbde, #0036ca);
}

.text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid rgb(0, 0, 0);
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
}

.description {
  display: inline-block;
  position: relative;
  opacity: 0; /* Bắt đầu với độ mờ là 0 */
  animation: wave 1s infinite linear, fadeIn 3s forwards;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Lùi lên */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Kết thúc với độ mờ là 1 */
  }
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #00bfff;
  background: -webkit-linear-gradient(45deg, #00dbde, #008e98);
  background: -o-linear-gradient(45deg, #1900d6, #1d7bae);
  background: -moz-linear-gradient(45deg, #00fbff, #00d9ff);
  background: linear-gradient(45deg, #007bff, #0036ca);
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform: scale(0.5); /* Bắt đầu với kích thước thu gọn */
  opacity: 0; /* Bắt đầu với độ mờ là 0 */
  animation: zoomIn 2s forwards, fadeIn 3s forwards; /* Sử dụng hiệu ứng phóng vào và hiệu ứng xuất hiện */
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 113%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}
#adminPath {
  cursor: pointer;
}
#adminPath:hover {
  color: #00dbde;
}

.hero-img {
  display: block;
  height: auto; /* Đảm bảo tỷ lệ khung hình được duy trì */
  opacity: 0; /* Bắt đầu với độ mờ là 0 */
  animation: fadeIn 3s forwards; /* Sử dụng hiệu ứng xuất hiện */
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Kết thúc với độ mờ là 1 */
  }
}
