:root {
    /* color */
    --color-primary: #FF6B6B;
    --color-secondary: #FFE66D;
    --color-tertiary: #88D8B0;
    --color-quaternary: #4A4E69;
    --color-quinary: #22223B;
    --color-white: #F0F0F0;
    --color-black: #000000;
    --color-gray: #B5B5B5;
    --color-light-gray: #E0E0E0;
    --color-dark-gray: #707070;
    --color-light: #F0F0F0;
    --color-dark: #22223B;
    --color-transparent: transparent;

}

:root {
    /* font */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2.4rem;
    --font-size-xlarge: 3.2rem;
    --font-size-xxlarge: 4.8rem;
    --font-size-xxxlarge: 6.4rem;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

}

:root {
    /* spacing */
    --spacing-xxsmall: 0.4rem;
    --spacing-xsmall: 0.8rem;
    --spacing-small: 1.6rem;
    --spacing-medium: 2.4rem;
    --spacing-large: 3.2rem;
    --spacing-xlarge: 4.8rem;
    --spacing-xxlarge: 6.4rem;
    --spacing-xxxlarge: 9.6rem;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #28a745;
    --bs-teal: #20c997;
    --bs-cyan: #17a2b8;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #343a40;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));