#UserManagerContainer {
  width: 100%;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(161, 161, 161);
}
#SignUpAttempt {
  max-width: 50%;
  border: rgb(200, 200, 200) 2px solid;
  background-color: rgb(234, 234, 234);
  border-radius: 8px;
  padding: 1em;
  height: 100%;
  max-height: 350px;
}
#AgeRatio,
#GenderCompare {
  width: 20%;
  height: 100%;
  max-height: 350px;
  border: rgb(200, 200, 200) 2px solid;
  background-color: rgb(234, 234, 234);
  margin-left: 1%;
  border-radius: 8px;
}
#AgeRatio ul li {
  width: 100%;
  font-size: 20px;
}
#Authentication {
  width: 100%;
  background-color: rgb(234, 234, 234);
  height: fit-content;
  min-height: 800px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  border: none;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
  max-height: 100px;
  border: 1px #000 solid;
}
th {
  background-color: #f5f8fd;
  text-align: center;
  color: #041e49;
  font-weight: 100;
}
td {
  font-weight: 50;
  font-size: 12px;
  text-wrap: nowrap;
  background-color: #fff;
}
.textcenter {
  text-align: center;
}
.padding {
  padding: 0 2.5%;
}

/* PieChart */
.pieContainer {
  height: 100px;
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
}
.pie {
  transition: all 1s;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}

.hold {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

#pieSlice1 .pie {
  background-color: #1b458b;
  transform: rotate(120deg);
}

#pieSlice2 {
  transform: rotate(120deg);
}

#pieSlice2 .pie {
  background-color: #0a0;
  transform: rotate(120deg);
}

#pieSlice3 {
  transform: rotate(240deg);
}

#pieSlice3 .pie {
  background-color: #ff3300;
  transform: rotate(120deg);
}
.authSetting,
.authDelete {
  margin: 0 2%;
  color: #444444;
  font-size: 20px;
}
.authSetting:hover {
  color: green;
}
.authDelete:hover {
  color: lime;
}

/* form */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#DeleteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 2px solid #ddd;
  color: #333;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 30px 800px rgb(0, 0, 0, 0.4);
  display: none;
  font-weight: 100;
  font-size: 20px;
  padding: 20px;
  line-height: 40px;
}
#small-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 99px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
