body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: -webkit-linear-gradient(45deg, #000000, #140014);
  background: -o-linear-gradient(45deg, #707070, #16002d);
  background: -moz-linear-gradient(45deg, #000000, #0b0034);
  background: linear-gradient(45deg, #6a6a6a, #000d2c);
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #000000, #140014);
  background: -o-linear-gradient(45deg, #000000, #16002d);
  background: -moz-linear-gradient(45deg, #000000, #0b0034);
  background: linear-gradient(45deg, #000000, #000d2c);
  width: 100vw;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }
}
#MenuBtn {
  background: none;
  position: fixed;
  left: 0;
  margin: 20px;
  color: white;
}
#MenuBtn:active,
#MenuBtn:focus {
  border: none;
  outline: none;
}

#sidebar {
  position: fixed;
  margin-top: 80px;
  left: 0;
  height: 100vh;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out, display 0.2s ease-in-out;
  overflow: hidden;
}

.search-input {
  padding: 10px;
  transition: box-shadow 0.75s;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 20px;
  font-size: 20px;
  width: 300px;
}

.search-input:focus {
  box-shadow: 0 0 40px #007bff;
}

#SearchBar {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  transition: box-shadow 1s;
  height: 100%;
}

.search-button {
  background: none;
  font-size: 20px;
  color: white;
  transition: border-color 0.3s ease, text-shadow 0.3s ease, color 0.3 ease;
}

.search-button:hover {
  color: #31a9e1;
  border-color: #007bff;
  text-shadow: 0 0 50px #007bff;
}

.Item a {
  transition: color 1s;
}

.Item a:hover {
  color: white;
}

