body {
  margin: 0;
  padding: 0;
}

.listProduct .item h2 {
  font-weight: bold;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 15px #66ccff;
  color: #b9dfff;
  color: #fff;
}

.delete button {
  width: 70px;
}

img {
  height: 200px;
}
.ctn {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}
svg {
  width: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-cart {
  position: relative;
  color: #fff;
}

.listCart img {
  width: 40px;
  height: 100px;
}

.icon-cart span {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
  font-size: 15px;
}
.title {
  font-size: xx-large;
}
.listProduct .item img {
  width: 90%;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
.listProduct .item {
  background-color: #2e2e2e;
  padding: 20px;
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}
.icon-cart span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 60%;
  right: -10px;
  font-size: 15px;
}

.listProduct .item img {
  transition: all 0.5s;
}

.listProduct .item:hover img {
  transform: scale(1.1);
}

@keyframes slideDownAnimation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.slide-down-animation {
  animation: slideDownAnimation 3s ease-in-out forwards;
}



.advert {
  transition: transform 0.5s;
}

.advert:hover {
  transform: scale(1.1);
}

.listProduct .item button {
  line-height: 40px;
  font-size: 10px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #636363;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border-radius: 3px;
}

.listProduct .item button span {
  position: relative;
  z-index: 2;
}

.listProduct .item button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #000000, #140014);
  background: -o-linear-gradient(45deg, #000000, #16002d);
  background: -moz-linear-gradient(45deg, #000000, #0b0034);
  background: linear-gradient(45deg, #000000, #000d2c);
  transition: all 0.35s;
  border-radius: 30px;
}

.listProduct .item button:hover {
  color: #fff;
  border-radius: 30px;
}

.listProduct .item button:hover:after {
  width: 100%;
  border-radius: 30px;
}

.listProduct .item button {
  padding: 2px 40px;
  font-size: 8px;
}

/* cart */
.cartTab {
  width: 500px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -500px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
  margin-top: 80px;
}
body.showCart .cartTab {
  right: 0;
}
body.showCart .ctn {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.delete {
  background-color: #a3a3a3;
  color: #000000;
  transition: all 1s ease-in-out;
  padding-top: 7px;
  text-align: center;
  padding-bottom: 6px;
  font-family: "Open Sans", sans-serif;
}

.delete:hover {
  background-color: #000000;
  color: #ffffff;
}

.cartTab button {
  background-color: #2e2e2e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  font-size: 20px;
  font-family: var(--font-primary);
}
.cartTab .close {
  background-color: #ffffff;
  border-radius: 20px 0 0 20px;
}
.listCart .item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}

.price {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
    0 0 35px #228dff, 0 0 40px #228dff;
  color: #b9dfff;
  color: #fff;
}

/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
}

a {
  border-radius: 0 0 10px 10px;
}

.cartTab button {
  transition: all 0.3s;
}

.cartTab button:hover {
  transform: translateY(2px);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}
