body {
  margin: 0;
  padding: 0;
}

.listProduct .item h2 {
  font-weight: bold;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 15px #66ccff;
  color: #b9dfff;
  color: #fff;
  margin-top: 13%;
}

.delete button {
  width: 70px;
}

img {
  height: 200px;
}
.ctn {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}
svg {
  width: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-cart {
  position: relative;
  color: #fff;
}

.listCart img {
  width: 40px;
  height: 100px;
}

.icon-cart span {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
  font-size: 15px;
}
.title {
  font-size: xx-large;
}
.listProduct .item img {
  width: 90%;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
.listProduct .item {
  background-color: #2e2e2e;
  padding: 20px;
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}
.icon-cart span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 60%;
  right: -10px;
  font-size: 15px;
}

.listProduct .item img {
  transition: all 0.5s;
}

.listProduct .item:hover img {
  transform: scale(1.1);
}

@keyframes slideDownAnimation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.slide-down-animation {
  animation: slideDownAnimation 3s ease-in-out forwards;
}

.advert {
  transition: transform 0.5s;
}

.advert:hover {
  transform: scale(1.1);
}

.listProduct .item button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 5px;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 10%;
}

.listProduct .item button:active,
.listProduct .item button:hover {
  outline: 0;
}

.listProduct .item button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.listProduct .item button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .listProduct .item button {
    font-size: 24px;
    min-width: 196px;
  }
}

/* cart */
.cartTab {
  width: 500px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -500px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
  margin-top: 80px;
}
body.showCart .cartTab {
  right: 0;
}
body.showCart .ctn {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.delete {
  background-color: #a3a3a3;
  color: #000000;
  transition: all 1s ease-in-out;
  padding-top: 7px;
  text-align: center;
  padding-bottom: 6px;
  font-family: "Open Sans", sans-serif;
}

.delete:hover {
  background-color: #000000;
  color: #ffffff;
}

.cartTab button {
  background-color: #2e2e2e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  font-size: 20px;
  font-family: var(--font-primary);
}
.cartTab .close {
  background-color: #ffffff;
  border-radius: 20px 0 0 20px;
}
.listCart .item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}

.price {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
    0 0 35px #228dff, 0 0 40px #228dff;
  color: #b9dfff;
  color: #fff;
}

/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
}

a {
  border-radius: 0 0 10px 10px;
}

.cartTab button {
  transition: all 0.3s;
}

.cartTab button:hover {
  transform: translateY(2px);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.item {
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
     transition: transform 0.5s;
}

.item:hover {
  transform: scale(1.1);
}