body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: #00bfff;
  background: -webkit-linear-gradient(45deg, #00dbde, #008e98);
  background: -o-linear-gradient(45deg, #00dbde, #1d7bae);
  background: -moz-linear-gradient(45deg, #00dbde, #0f4a91);
  background: linear-gradient(45deg, #00dbde, #0036ca);
}

footer {
  background: -webkit-linear-gradient(45deg, #000000, #140014);
  background: -o-linear-gradient(45deg, #000000, #16002d);
  background: -moz-linear-gradient(45deg, #000000, #0b0034);
  background: linear-gradient(45deg, #000000, #000d2c);
}

footer h4 {
  color: aliceblue;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.contact-container {
  display: flex;
  max-width: 800px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact-info {
  width: 50%; /* Phần thông tin admin chiếm 50% */
  padding: 20px;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info p i {
  margin-right: 10px;
}

.contact-form {
  width: 50%; /* Phần biểu mẫu liên hệ chiếm 50% */
  padding: 20px;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none; /* Xoá viền */
  border-bottom: 3px solid #ccc; /* Chỉ chừa lại viền ở dưới */
  transition: border-color 0.3s;
  border-radius: 50px;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  outline: none;
  border-bottom-color: #007bff; /* Thay đổi màu viền ở dưới khi focus */
}

.form-group textarea {
  resize: none;
  height: 120px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.button-62 {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  max-width: 400px;
  width: 400px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(255, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
