ol,ul {
  padding: 0;
}
  #SignUpAttempt {
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(234, 234, 234);
    border-radius: 8px;
    padding: 1em;
    width: 50vw;
    max-height: 400px;
  }
  #AgeRatio,
  #GenderCompare {
    width: 20%;
    font-size: 20px;
    max-height: 400px;
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(234, 234, 234);
    margin-left: 1%;
    border-radius: 8px;
  }
#AgeRatio ul li,h4 {
  width: 100%;
  margin-left: 1em;

}
#GenderCompare ul li,h4 {
  width: 100%;
  margin-left: 1em;

}
table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  border: none;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
  max-height: 100px;
  
}
th {
  background-color: #f5f8fd;
  text-align: center;
  color: #041e49;
  font-weight: 100;
}
td {
  font-weight: 50;
  font-size: 12px;
  text-wrap: nowrap;
  background-color: #fff;
}
.textcenter {
  text-align: center;
}
.padding {
  padding: 0 2.5%;
}
  figure {
    border: none;
  }


  /* PieChart */
  .pie-chart {
    background:
      radial-gradient(
        circle closest-side,
        transparent 66%,
        rgb(234, 234, 234) 0
      ),
      conic-gradient(
        #edc949 0,
        #edc949 10%,
        #af7aa1 0,
        #af7aa1 20%,
        #ff9da7 0,
        #ff9da7 100%
    );
    position: relative;
    width: 100%;
    min-height: 150px;
    margin: 0;
    
  }
  .pie-chart h2 {
    position: absolute;
    margin: 1rem;
  }
  .pie-chart cite {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    padding: 1rem;
    color: gray;
  }
  .pie-chart figcaption {
    position: absolute;
    bottom: 30%;
    right: 1%;
    font-size: smaller;
    text-align: right;
  }
  .pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
  }



/* form */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#DashboardContainer {
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}