ol,
ul {
  padding: 0;
}
#SignUpAttempt {
  border: rgb(255, 255, 255) 2px solid;
  background-color: rgb(27, 32, 44);
  border-radius: 8px;
  padding: 2em;
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding-right: 300px;
  padding-top: 0.2em;
  padding-left: 0;
  padding-bottom: 90vh;
}
#AgeRatio,
#GenderCompare {
  width: 20%;
  font-size: 15px;
  max-height: 400px;
  margin-left: 1%;
  border-radius: 8px;
  color: #6e6e6e;
}
#AgeRatio ul li,
h4 {
  width: 100%;
  margin-left: 1em;
}
#GenderCompare ul li,
h4 {
  width: 100%;
  margin-left: 1em;
  color: #6e6e6e;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  border: none;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
  max-height: 100px;
}
th {
  text-align: center;
  font-weight: 100;
}
td {
  font-weight: 50;
  font-size: 12px;
  text-wrap: nowrap;
}
.textcenter {
  text-align: center;
}
.padding {
  padding: 0 2.5%;
}
figure {
  border: none;
}

.pie-chart h2 {
  position: absolute;
  margin: 1rem;
}
.pie-chart cite {
  position: absolute;
  bottom: 0;
  font-size: 80%;
  padding: 1rem;
  color: gray;
}
.pie-chart figcaption {
  position: absolute;
  bottom: 30%;
  right: 1%;
  font-size: smaller;
  text-align: right;
  color: #6e6e6e;
}
.pie-chart span:after {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.4em;
  height: 0.8em;
  border-radius: 0.2em;
  background: currentColor;
}

/* form */
body {
  margin: 0;
  padding: 0;
}
#DashboardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  padding-left: 0;
  width: 100%;
  padding-right: 0;
  padding-bottom: 0;
}

