/* CSS */
.button-64 {
  margin-left: 4%;
  margin-top: 30px;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 200px;
  padding: 3px;
  width: 300px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.info {
  position: absolute;
  top: 80px;
  margin-left: 715px;
  background-color: rgb(32, 32, 32);
  padding-left: 50px;
  padding-top: 20px;
  height: 477px;
  width: 685px;
  margin-right: 20px;
}

.top {
  max-height: 460px;
  padding-right: 20px;
  padding: 0;
  position: absolute;
}

.button-64 a {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover a {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.ko {
  background-color: rgba(0, 0, 0, 0.5);
  height: 550px;
  z-index: 1000;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.black {
  background-color: rgba(0, 0, 0, 0.779);
  height: 620px;
  filter: blur(8px) saturate(180%); /* saturate tăng sáng các màu khi blur */
  -webkit-filter: blur(8px) saturate(180%);
  margin-top: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

/* Style the search form */
.search-form {
  display: flex;
  border: 2px solid #3498db;
  border-radius: 50px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.search-form:hover {
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.5);
}

/* Style the search input */
.search-input {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  outline: none;
  width: 300px;
  transition: width 0.4s ease;
  z-index: 2;
  background-color: #000000;
  color: #ffffff;
}

.search-input:focus {
  width: 400px;
}

.search-input::placeholder {
  color: #bdc3c7;
}

.search-button {
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  transition: color 0.3s ease;
  background-color: transparent;
  position: absolute;
  margin-left: 340px;
  padding-top: 5px;
  z-index: 3000;
}

.search-button:hover {
  color: #2980b9;
}

.search-results {
  position: absolute;
  background-color: #000000;
  height: 300px;
  width: 400px;
  margin-top: 305px;
  border-radius: 10px;
  padding-left: 0;
  padding-top: 40px;
  padding-right: 0;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/**
 * Fade In
 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
 * Fade Out
 */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
