body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #47b2e4;
    text-decoration: none;
  }
  
  a:hover {
    color: #73c5eb;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Jost", sans-serif;
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #37517e;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #47b2e4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #6bc1e9;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  #header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    width: 100vw;
  }
  
  #header.header-scrolled,
  #header.header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #47b2e4;
  }
  
  .navbar .getstarted,
  .navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
  }
  
  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: #31a9e1;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover > a {
    color: #47b2e4;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  @media (max-width: 991px) {
    .navbar ul {
      display: none;
    }
  }
  #MenuBtn {
    background: none;
    position: fixed;
    left: 0;
  }
  #MenuBtn:active,
  #MenuBtn:focus {
    border: none;
    outline: none;
  }
  #sidebar {
    position: fixed;

    left: 0;
    height: 100vh;
    width: 20vw;
    background-color: #f2f0e6;
    display: none;
    flex-direction: column;
    padding: 1em;
    transition: transform 0.2s ease-in-out,display 0.2s ease-in-out;
    overflow: hidden;
    z-index: 996;
  }
  #SearchBar {
    width: fit-content;
  }
  #UserManagerContainer {
    position: relative;
    background-color: #fafbff;
    padding: 1%;
    height: 1000px;
    width: 80vw;
    margin: 80px 0 0 20vw;
    right: 0;
    display: flex;
    flex-wrap: wrap;
  }
  #SignUpAttempt {
    width: 50%;
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(234, 234, 234);
    border-radius: 8px;
    padding: 1em;
    height: 100%;
    max-height: 350px;
  }
  #AgeRatio,
  #GenderCompare {
    width: 20%;
    height: 100%;
    max-height: 350px;
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(234, 234, 234);
    margin-left: 1%;
    border-radius: 8px;
  }
#AgeRatio ul li {
  width: 100%;
  font-size: 20px;
}
#Authentication {
  margin-top: 5vh;
  width: 92%;
  background-color: rgb(234, 234, 234);
  border-radius: 8px;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-height: 600px;
  overflow-y: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  border: none;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid;
  max-height: 100px;
  
}
th {
  background-color: #f5f8fd;
  text-align: center;
  color: #041e49;
  font-weight: 100;
}
td {
  font-weight: 50;
  font-size: 12px;
  text-wrap: nowrap;
  background-color: #fff;
}
.textcenter {
  text-align: center;
}
.padding {
  padding: 0 5%;
}



  /* PieChart */
  .pieContainer {
    height: 100px;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .pie {
    transition: all 1s;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
  }
  
  .hold {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }
  
  #pieSlice1 .pie {
    background-color: #1b458b;
    transform:rotate(120deg);
  }
  
  #pieSlice2 {
    transform: rotate(120deg);
  }
  
  #pieSlice2 .pie {
    background-color: #0a0;
    transform: rotate(120deg);
  }
  
  #pieSlice3 {
    transform: rotate(240deg);
  }
  
  #pieSlice3 .pie {
    background-color: #ff3300;
    transform: rotate(120deg);
  }
  .authSetting,.authDelete {
    margin: 0 2%;
    color: #444444;
    font-size: 20px;
  }
  .authSetting:hover {
    color: green;
  }
  .authDelete:hover {
    color: red;
  }


/* form */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#userForm {
  width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: absolute;
  display: none;
  position: absolute;
}
#userForm div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 120px;
}

#username,
#email,
#birth {
  width: calc(100% - 120px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#avatarPreview {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}
#cancelBtn,#saveBtn {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#cancelBtn:hover {
  background-color: #0056b3;
}
#saveBtn:hover {
  background-color: #0056b3;
}


#cancelBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#saveBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
